<section>
    <section>
        <h3>Wanna add something leave a comment.</h3>
        <form action="">
            <div>
                <label for="comment-input"></label>
                <textarea class="textarea" id="comment-input" name="newComment" rows="4" type="text"></textarea>

            </div>
            <div>
                <input class="btn" type="submit">

            </div>
        </form>

    </section>
    <section>
        <h4>comments section</h4>
        <ol>
            <li>
                <section class="card">
                    <h4>comment title <span>Date</span></h4>
                    <p class="textarea">comment text</p>
                    <span>comment author</span>
                </section>
            </li>
        </ol>
    </section>
</section>