<section >



    <div class="nav-wrapper container">
        <h1 href="#" class="brand-logo center"> 
            <% if(locals.title){%>
                <%=title%>
            <%}%>
        </h1>
        <a href="#" data-target='mobile-demo' class="sidenav-trigger right show-on-large">
            <i class="fas fa-bars"></i>
        </a>
        <ul class="sidenav" id="mobile-demo">
            <li>
                <a href="/">Home</a></li> 
            </li>
            <li><a href="/repair">Latest Reports</a></li>
            <li><a href="/repairform">Create Report</a></li>
            <li><a href="/repair/searchpage">Search</a></li>

            <li><a href="/logout">Logout</a></li>
               



        </ul>
    </div>
</section>