@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --text-primary: #000000;
    --background: #89899d;
    --foreground: #00ff9d;
    --card: #ffffff;
    --card-foreground: #e6e6e6;
    --popover: #16213e;
    --popover-foreground: #e6e6e6;
    --primary: #00ff9d;
    --primary-foreground: #16213e;
    --secondary: #3b7dce;
    --secondary-foreground: #e6e6e6;
    --muted: #0f3460;
    --muted-foreground: #a3a3a3;
    --accent: #00ff9d;
    --accent-foreground: #16213e;
    --destructive: #ff3860;
    --destructive-foreground: #e6e6e6;
    --border: #0f3460;
    --input: #0f3460;
    --ring: #00ff9d;
    --chart-1: #00ff9d;
    --chart-2: #00b8ff;
    --chart-3: #ff3860;
    --chart-4: #ffd700;
    --chart-5: #b967ff;
    --radius: 0.5rem;
  }
  .dark {
    --background: #0a0a0a;
    --foreground: #00ff9d;
    --card: #0f0f0f;
    --card-foreground: #e6e6e6;
    --popover: #0f0f0f;
    --popover-foreground: #e6e6e6;
    --primary: #00ff9d;
    --primary-foreground: #0f0f0f;
    --secondary: #1a1a1a;
    --secondary-foreground: #e6e6e6;
    --muted: #1a1a1a;
    --muted-foreground: #a3a3a3;
    /* --accent: #1a1a1a; */
    --accent-foreground: #e6e6e6;
    --destructive: #ff3860;
    --destructive-foreground: #e6e6e6;
    --border: #1a1a1a;
    --input: #1a1a1a;
    --ring: #00ff9d;
    --chart-1: #00ff9d;
    --chart-2: #00b8ff;
    --chart-3: #ff3860;
    --chart-4: #ffd700;
    --chart-5: #b967ff;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
