<!DOCTYPE HTML>
<!--
	Spectral by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Circuit Fix</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    	<link rel="stylesheet" href="/stylesheets/normalize.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
		
		
		<script src="https://kit.fontawesome.com/2d20c3d5a8.js" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="/home/assets/css/main.css" />
		<noscript><link rel="stylesheet" href="/home/assets/css/noscript.css" /></noscript>
    	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    	<link rel="stylesheet" href="/stylesheets/style.css">
    	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

	</head>

	<body class="landing is-preload">

		<!-- Page Wrapper -->
			<div id="page-wrapper">

				<!-- Header -->
					<header id="header" class="alt">
						<nav id="nav">
							<ul>
								<li class="special">
									<a href="#menu" class="menuToggle"><span>Menu</span></a>
									<div id="menu">
										<ul>
											<li><a href="/repair">Latest Repairs</a></li>
											<li><a href="">Create Repair</a></li>
											<li><a href="">Search</a></li>
											<li><a href="#">Sign Up</a></li>
											<li><a href="#">Log In</a></li>
										</ul>
									</div>
								</li>
							</ul>
						</nav>
					</header>

				<!-- Banner -->
					<!-- <section id="banner">
						<div class="inner">
							<h2>Circuit Fix</h2>
							<p>Catalog Repairs to Your Electronics<br />
							
							<ul class="actions special">
								<li><a href="#" class="button primary">SIGNUP</a></li>
							</ul>
						</div>
						<a href="#one" class="more scrolly">Learn More</a>
					</section> -->

				<!-- One -->
					<!-- <section id="one" class="wrapper style1 special">
						<div class="inner">
							<header class="major">
								<h2>Keep track of repairs<br />
								you have made</h2>
								<p>Once you have fixed it you can look it up again without having to rework the problem,<br />
								continue the work you without backtracking</p>
							</header>
							<ul class="icons major">
								<li><i class="  major icon style1 fa-solid fa-microchip"></i></li>
								<li><i class="major icon style1 fa-solid fa-toolbox"></i></li>
								<li><i class="major icon style1 fa-solid fa-screwdriver-wrench"></i></li>
							</ul>
						</div>
					</section> -->

				<!-- Two -->
					<!-- <section id="two" class="wrapper alt style2">
						<section class="">
							<div class="image"><img src="images/pic01.jpg" alt="" /></div><div class="content">
							</div>
						</section>
						
						
					</section> -->

				<!-- Three -->
					<!-- <section id="" class="wrapper style3 special">
						<div class="inner">
							<header class="major">
								<h2>Accumsan mus tortor nunc aliquet</h2>
								<p>Aliquam ut ex ut augue consectetur interdum. Donec amet imperdiet eleifend<br />
								fringilla tincidunt. Nullam dui leo Aenean mi ligula, rhoncus ullamcorper.</p>
							</header>
							<ul class="features">
								<li></li>
							</ul>
						</div>
					</section> -->



					<!-- modify below -->
				<section class="">
					<section class="small-padding">  
						<section class="info "> 
							<section class="wrapper ">
								<!-- title -->
								<div class="title">
									<h1 class="">DDEC 4 28D03 conpatible with LM2901</h1> 
								</div>
								<h3 class="chip ">Repair ID:63335e76d6fe6ec6a23c729b</h3>  
								<h3 class="chip ">Repair Documented by: public</h3>  
								<h3 class="chip">Board Type: P23519308</h3> 
								<h3 class="chip">Engine Make: detroit</h3>
							</section>
						</section> 
							
						<ol class="procedure-list" data-currentprocid="1">   
							
							
			
								
								<li class=" card blue-grey  procedure-item small-padding">
									<section>
										<!-- images list -->
										<ol class="image-list horz-flex center" data-totalfiles="0" data-uploadid="0">
											
												<li class=" card   image-item blue-grey ">
													
													<a class="image-link  " href="http://res.cloudinary.com/da6jwh1id/image/upload/v1664310892/cata/sjb0jvxeh9h8fojn8hb7.jpg">
			
														
															<img class=" rounded red image-preview" src=" http://res.cloudinary.com/da6jwh1id/image/upload/c_scale,w_400/v1664310892/cata/sjb0jvxeh9h8fojn8hb7.jpg" alt="repair image">
														   
															
													   
														</a>
														<span>Click to see full image</span>
													</li>
													
												<li class=" card   image-item blue-grey ">
													
													<a class="image-link  " href="http://res.cloudinary.com/da6jwh1id/image/upload/v1664310898/cata/ilfq33ggukebiqeyx2qp.jpg">
														<img class=" rounded red image-preview" src=" http://res.cloudinary.com/da6jwh1id/image/upload/c_scale,w_400/v1664310898/cata/ilfq33ggukebiqeyx2qp.jpg" alt="repair image">
													</a>
														<span class="chip rounded">Click to see full image</span>
													</li>
													
												<li class=" card   image-item blue-grey ">
													
													<a class="image-link  " href="http://res.cloudinary.com/da6jwh1id/image/upload/v1664310901/cata/sr2x0tkellxjgfqbc0ta.jpg">
			
														
															<img class=" rounded red image-preview" src=" http://res.cloudinary.com/da6jwh1id/image/upload/c_scale,w_400/v1664310901/cata/sr2x0tkellxjgfqbc0ta.jpg" alt="repair image">
														   
															
													   
														</a>
														<span>Click to see full image</span>
													</li>
													
												</ol>
									</section>
											<!-- description -->
									<section class="card   small-padding">
										<p class="center-text instructions">
											Lm2901d found in place of custom partnumber 28D03 
										</p> 
									</section> 
								</li>
							
			
								
								<li class=" card blue-grey  procedure-item small-padding">
									<section>
										<!-- images list -->
										<ol class="image-list horz-flex center" data-totalfiles="0" data-uploadid="0">
											
												<li class=" card   image-item blue-grey ">
													
													<a class="image-link  " href="http://res.cloudinary.com/da6jwh1id/image/upload/v1664310896/cata/libefkzjm2h3ctqensfu.jpg">
			
														
															<img class=" rounded red image-preview" src=" http://res.cloudinary.com/da6jwh1id/image/upload/c_scale,w_400/v1664310896/cata/libefkzjm2h3ctqensfu.jpg" alt="repair image">
														   
															
													   
														</a>
														<span>Click to see full image</span>
													</li>
													
												</ol>
									</section>
											<!-- description -->
									<section class="card   small-padding">
										<p class="center-text instructions">
											Location of other LM2901D
										</p> 
									</section> 
								</li>
							
			
			
			
							
			
						</ol>
							
							
							<!-- submit the repair form to server -->
							<!-- <button class="clickable" type="submit">Submit Repair</button> -->
			
						<!-- </form> -->
					   
					</section>
				</section>
					

				<!-- Footer -->
					<footer id="footer">
						<!-- <ul class="icons">
							<li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
							<li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
							<li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
							<li><a href="#" class="icon brands fa-dribbble"><span class="label">Dribbble</span></a></li>
							<li><a href="#" class="icon solid fa-envelope"><span class="label">Email</span></a></li>
						</ul> -->
						<ul class="copyright">
							<li>&copy; Untitled</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
						</ul>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="/home/assets/js/jquery.min.js"></script>
			<script src="/home/assets/js/jquery.scrollex.min.js"></script>
			<script src="/home/assets/js/jquery.scrolly.min.js"></script>
			<script src="/home/assets/js/browser.min.js"></script>
			<script src="/home/assets/js/breakpoints.min.js"></script>
			<script src="/home/assets/js/util.js"></script>
			<script src="/home/assets/js/main.js"></script>

	</body>
</html>